img {
  height:100%;
  width:100%;
}

.calendar {
  height:12.5px;
  width:12.5px;
  margin:0px 5px 0px 5px
}
.interact{
  width:80px;
}
.contentB{
  display:flex;
  border: 1px solid black;
  color:white;
  padding:5px;
  height:80px;
  background-color:  rgb(39, 49, 56);
}
.contentB:hover {
  background-color: rgb(221, 23, 59);
}
.text {
  margin: 10px 15px 15px 15px;
}
.title{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.summary {
  font-size:12px;
  color: gray;
  margin-top:5px;
  margin-bottom:5px;
}

.date {
  color: gray;
  font-size: 10px;
}
