body {
  background: white;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 20px;
  padding: 0;
}

header {
  background-color: black;
}

header div {
  text-align: center;
  background-color: white;
  color:black;
}
nav {
  font-size:18px;
  text-transform: uppercase;
  box-shadow: 1px 1px 2px #888888;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  padding:15px;
}

section.content {
  display:flex;
  font-size: 0;
  margin-top:15px;
  margin-bottom:15px;
}

section.news {
  flex-direction: row;
  font-size: 12px;
  width:30%;
  margin-right: 10px;
}

section.alerts {
  background-color: white;
  flex-direction: column;
  font-size: 12px;
  border:1px solid black;
  box-shadow: 1px 1px 2px #888888;

}

section.view {
  flex-direction: row;
  font-size:12px;
  width:80%;
  border:1px solid black;
  box-shadow: 1px 1px 2px #888888;
}

/* FOOTER */
footer {
  background: black;
  color: gray;
  font-size: 12px;
  padding: 20px 20px;
  text-align: center;
}





/*alert*/
img {
  height:100%;
  width:100%;
}

.calendar {
  height:12.5px;
  width:12.5px;
  margin:0px 5px 0px 5px
}

.interact{
  width:80px;
}
.contentB{
  display:flex;
  border: 1px solid black;
  color:gray;
  padding:5px;
  height:80px;
  background-color:  rgb(39, 49, 56);
}
.contentB:hover {
  background-color: rgb(221, 23, 59);
  color:white;
}
.text {
  margin: 10px 15px 15px 15px;
}
.title{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color:white;
}

.summary {
  font-size:12px;
  margin-top:5px;
  margin-bottom:5px;
}

.date {
  font-size: 10px;
}


/*table*/
table {
  font-family: arial, sans-serif;
  color:black;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
